{% load static %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <a class="my-0 mr-md-auto font-weight-normal" href="{% url 'home' %}">
        <img src="{% static 'images/logo-header.png' %}" alt="logo">
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% url "dashboard" as dashboard %}
        {% if request.path == dashboard %}
            <span class="navbar-text">
                <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;{{ user.username }}
                {% if user.is_superuser %}(Администратор){% endif %}
            </span>
        {% endif %}
    </nav>
    {% if user.is_authenticated %}
        {% url "home" as home %}
        {% if request.path == home %}
            <a class="btn btn-outline-primary  mr-2" href="{% url 'dashboard' %}">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>Личный кабинет</span>
            </a>
        {% endif %}
        {% url "dashboard" as dashboard %}
        {% if request.path == dashboard %}
            <a class="btn btn-outline-primary" href="{% url 'account_logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Выйти</span>
            </a>
        {% endif %}
    {% endif %}
    {% if not user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'account_login' %}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <span>Войти</span>
        </a>
    {% endif %}
</div>